@import url(fonts.css);

body{
  min-height: 740px;
  background: rgb(200, 200, 255);
  color: rgb(255, 200, 0);

}

h1{
  text-align: center;
}

h2{
  font-size: 28px;
  margin-bottom: 0px;
}

#step-7 h1{
  margin-bottom: 0px;
  margin-top: 0px;
}

.step{
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    box-sizing:         border-box;

    font-family: 'Open Sans', georgia, serif;
    font-size: 36px;
    line-height: 1.5;
}

#step-1{
  display:none;
}

#step-2{
  display:none;
}

#step-1.active{
    display: block;
}

#step-2.active{
    display: block;
}

#step-3-1{
  display:none;
}

#step-3-2{
  display:none;
}

#step-3-1.active{
    display: block;
}

#step-3-2.active{
    display: block;
}

#step-4 h1{
    text-align: left;
}

#lbp{
    width:45%;
    position: fixed;
    top: -85px;
    right:-45px;
}

#stp1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#stp2{
  position: fixed;
  right: 0px;
  width: 45%;
}

#step-6 ul{
  width: 45%;
}

#step-8{
    font-size: 22px;
}

#step-8 a:link{
  text-decoration: underline;
}

a:link{
color: white;
text-decoration: none;
}

a:hover{
color: white;
text-decoration: none;
}

a:visited{
color: white;
text-decoration: none;
}

#step-9 a:link{
  color: rgb(255, 200, 0);
  text-decoration: none;
}

#step-9 a:hover{
  color: rgb(255, 200, 0);
}

#step-9 a:visited{
  color: rgb(255, 200, 0);
}

#handout{
    position: fixed;
    right:0;
    bottom:0;
}

#handout p{
    display: inline;
}

#handout img{
    display: inline;
}

.video{
    text-align: center;
    vertical-align: middle;
}


.slide{
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;
/*
    background-image: url(../images/background.png);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);*/

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: -1px;

}

.slide2{
  display: block;

  width: 900px;
  height: 700px;
  padding: 40px 60px;

  background-image: url(../images/background.png);
  background-color: black;
  color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
}

.slide3{
  width: 900px;
  height: 700px;
  padding: 40px 60px;
  opacity: 0.5;
}

#step-4 ul{
  font-size: 28px;
}

#step-9{
  vertical-align: middle;
}

.bridge{
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/8b/Tower_Bridge_01b.jpg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
  font-weight: bold;
}

.air{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5f/Tower-bridge-air.jpg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

}

.tower{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a8/Tower_Bride_3_2017.jpg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
